{% extends "layout.html" %}
{% block title %}Home {% endblock %}
{% block head %}
  

{{ super() }}  
{% endblock %}
{% block content %}


<div class="alert alert-primary" role="alert">
    <h2>Opciones del Sistema</h2>
</div>

<hr>


<button type="button" class="btn btn-primary" onclick="btn_borrar_liberaciones()" >Borrar Liberaciones Vigentes</button>
<br>
<br>
<button type="button" class="btn btn-primary" onclick="btn_crear_liberaciones()" >Crear Liberaciones Vigentes</button>
<br>
<br>
<button type="button" class="btn btn-primary" onclick="btn_consolidar()" >Consolidar Liberaciones Vigentes</button>
<hr>
    <button type="button" class="btn btn-allergan" onclick="btn_borrar_liberaciones_total()" >Borrar Liberaciones Totales</button>
<br>
<br>
<button type="button" class="btn btn-allergan" onclick="btn_crear_liberaciones_total()" >Crear Liberaciones Totales</button>
<br>
<br>
<button type="button" class="btn btn-allergan" onclick="btn_consolidar_total()" >Consolidar Liberaciones Totales</button>
    <hr>
    <form  class="form-group" action="/reprocesar" method="post" >
    <label for="idacuerdo">IdAcuerdo: </label>
     <input class="form-control" name="idacuerdo" id="idacuerdo">
    <input class="btn btn-allergan" type="submit" value="Reprocesar">
    </form>
<div id="placeholder" style="display:none ;"><div class="lds-ripple"><div></div><div></div></div></div>







    <script>



 const placeholder= document.getElementById("placeholder")

    function btn_borrar_liberaciones(){

      Swal.fire({
            title: '¿Esta seguro?',
            text: "No podra revertir esta operacion",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, borrar liberaciones vigentes'
          }).then((result) => {
         
            if (result.isConfirmed) {
             
              $.ajax({
                url:"/borrar_liberaciones/",
                type:"POST",
                success: function(response){
                 
                  Swal.fire(response);

                }

              });     

            }
          })      

      }

    function btn_crear_liberaciones(){

        Swal.fire({
              title: '¿Esta seguro?',
              text: "No podra revertir esta operacion",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Si, crear liberaciones vigentes'
            }).then((result) => {
                 placeholder.style.display = "inline"
              if (result.isConfirmed) {

                $.ajax({
                  url:"/crear_liberaciones/",
                  type:"POST",
                  success: function(response){
                       placeholder.style.display = "none"
                    Swal.fire(response);

                  }

                });     

              }
            })      

      }

    function btn_consolidar(){

      Swal.fire({
            title: '¿Esta seguro?',
            text: "No podra revertir esta operacion",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, consolidar'
          }).then((result) => {
            console.log(placeholder)
              placeholder.style.display = "inline"
            if (result.isConfirmed) {

              $.ajax({
                url:"/consolidar/",
                type:"POST",
                success: function(response){
                  placeholder.style.display = "none"
                  console.log(response)
                  Swal.fire(response);

                }

              });     

            }
          })      

    }


 function btn_borrar_liberaciones_total(){

      Swal.fire({
            title: '¿Esta seguro?',
            text: "No podra revertir esta operacion",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, borrar liberaciones totales'
          }).then((result) => {

            if (result.isConfirmed) {

              $.ajax({
                url:"/borrar_liberaciones_totales/",
                type:"POST",
                success: function(response){

                  Swal.fire(response);

                }

              });

            }
          })

      }

    function btn_crear_liberaciones_total(){

        Swal.fire({
              title: '¿Esta seguro?',
              text: "No podra revertir esta operacion",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Si, crear liberaciones totales'
            }).then((result) => {
                 placeholder.style.display = "inline"
              if (result.isConfirmed) {

                $.ajax({
                  url:"/crear_liberaciones_totales/",
                  type:"POST",
                  success: function(response){
                    placeholder.style.display = "none"
                    Swal.fire(response);

                  }

                });

              }
            })

      }

    function btn_consolidar_total(){

      Swal.fire({
            title: '¿Esta seguro?',
            text: "No podra revertir esta operacion",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, consolidar el total'
          }).then((result) => {

              placeholder.style.display = "inline"
            if (result.isConfirmed) {

              $.ajax({
                url:"/consolidar_total/",
                type:"POST",
                success: function(response){
                  placeholder.style.display = "none"
                  console.log(response)
                  Swal.fire(response);

                }

              });

            }
          })

    }




  </script>  



{% endblock %}