{% extends "layout.html" %}
{% block title %}Home {% endblock %}
{% block head %}
  

{{ super() }}  
{% endblock %}
{% block content %}


<div class="alert alert-primary" role="alert">
    <h2>Tabla de Clientes</h2>
</div>

<td><a class="btn btn-primary" href="/clientes_add" role="button"  data-toggle="tooltip" data-placement="top" title="Agregar un cliente">Agregar</a></td>

<hr>

<table id="dt" class="table table-striped table-bordered nowrap">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>ID Veeva</th>
        <th>ID SAP Cliente</th>
        <th>Cliente</th>
        <th>Consultor</th>
        <th>ID Consultor</th>
        <th>País</th>
      </tr>
      </thead>
</table>      

  </table>

  <script>

function fnt_editar(row){
  window.location.href ='/clientes_edit/' + row.id;
};

function fnt_borrar(row){
  borrar_cliente('/clientes_borrar/' + row.id);
};

  dt = [];

  i = 1;
  {% for row in data: %}    
    row = [
    "<button type='button' class='btn btn-light' data-toggle='tooltip' data-placement='top' title='Editar Cliente'><i id = '{{ row[0] }}' class='fas fa-edit' onclick = 'fnt_editar(this)' ></i></button>",
    "<button type='button' class='btn btn-light' data-toggle='tooltip' data-placement='top' title='Borrar Cliente'><i id = '{{ row[0] }}' class='fas fa-trash' onclick = 'fnt_borrar(this)' ></i></button>",
    '{{ row[4] }}','{{ row[0] }}','{{ row[1] }}','{{ row[3] }}','{{ row[2] }}','{{ row[5] }}'];
    i = i + 1;
    dt.push(row);

  {% endfor %}

    $(document).ready(function() {

        

        // Setup - add a text input to each footer cell
        $('#dt thead tr').clone(true).appendTo( '#dt thead' );
        $('#dt thead tr:eq(1) th').each( function (i) {
          // coloca el filtro a las demas columnas
          if (i >= 2) {
              var title = $(this).text();
              $(this).html( '<input type="text" placeholder="Buscar '+title+'" />' );

              $( 'input', this ).on( 'keyup change', function () {
                  if ( table.column(i).search() !== this.value ) {
                      table
                          .column(i)
                          .search( this.value )
                          .draw();
                  }
              } );
          }
        });

        var table = $('#dt').DataTable( {   
        data: dt,       
        orderCellsTop: true,
        fixedHeader: true,
        language: {"url": "//cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"},
        "order": [[ 1, "desc" ]]
        } );        
                

    });

  </script>  


<script type="text/javascript">

function borrar_cliente(path){
      Swal.fire({
        title: '¿Esta seguro?',
        text: "No podra revertir esta operacion",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si, borrar Cliente!'
      }).then((result) => {
        if (result.isConfirmed) {
          Swal.fire(
            'Borrado!',
            'El cliente fue borrado exitosamente',
            window.location.href= path
          )
        }
      })

    }



</script>
  



{% endblock %}